@import url('https://fonts.googleapis.com/css?family=Permanent Marker');

/* body {
  font-family: 'Permanent Marker', sans-serif;
} */

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.inputStyle {
    padding: 24px;
    border: none;
    border-radius: 12px;
    background-color: #f2f4f8;
    margin-right: 16px;
    width: 640px;
  }

.searchButton {
    padding: 24px;
    border: none;
    color: #ffffff;
    border-radius: 12px;
    background-color: #000000;
}

.searchContainer {
    padding: 24px;
    background-color: #ffffff;
    border: none;
    color: #ffffff;
    border-radius: 12px 12px 0 0;
}

body {
    background-color: #e8eaee;
}

.gifContainer {
    display: flex;
    flex-wrap: wrap;
    width: 843px;
    height: 500px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.paginationContainer {
    display: flex;
    width: 843px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;
    align-items: center;
    justify-content: center;
}

.gifCard {
    margin: 10px;
    background-color: #e8eaee;
    border-radius: 12px;
    padding: 10px;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gifText {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.navBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.navBar p {
    margin-right: 278px;
}
  
.navBar button {
    margin-left: 278px;
}